body{
    background-color: #2A363B;
    padding: 20px;
}
h1{
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: #F50057;
    font-size: 40px;
    text-align: center;
    padding: 0 15px 15px 15px;
}
textarea{
    padding: 10px;
    margin: 20px;
    resize: none;
    width: 90%;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    border-radius: 15px;
    border-width: 5px;
    border-color: #F50057;
}
.translation textarea{
    font-size: 22px;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    background-color: transparent;
}
button img{
    width: 50px;
    height: auto;
}
